body {
    background-color: lightskyblue;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

nav ul{
    background-color: tomato;
    border: 2px solid mediumvioletred;
    border-radius: 10px;
    padding: 10px;
}

nav ul li {
    list-style-type: disc;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: papayawhip;
}

img {
    border-radius: 20px;
}